<div class="logo">
  <img src="assets/icon.png" alt="" />
  <h1><span>To-Do</span> List</h1>
</div>
<form [formGroup]="myForm" (ngSubmit)="addTask()">
  <input
    type="text"
    placeholder="Digite o título da sua tarefa"
    formControlName="title"
  />
  <input
    type="text"
    placeholder="Digite a descrição da sua tarefa"
    formControlName="description"
  />

  <button>ADICIONAR</button>
</form>
<div class="tasks">
  <app-task-card *ngFor="let task of taskList" [task]="task"></app-task-card>
</div>
