<div class="task">
  <div class="task-info">
    <h2>Título da Tarefa</h2>
    <hr />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
      dignissimos inventore magnam ipsum vitae animi temporibus sed, optio rem
      dolores, beatae, eum deserunt expedita doloremque iure alias dolor dolorem
      libero!
    </p>
  </div>

  <div class="task-actions">
    <button>
      <fa-icon [icon]="faPenToSquare" class="icon" id="edit-icon"></fa-icon>
    </button>
    <button>
      <fa-icon [icon]="faTrashCan" class="icon" id="delete-icon"></fa-icon>
    </button>
  </div>
</div>
