<div class="task">
  <div class="task-info" [ngClass]="completeTask ? 'complete' : ''">
    <h2>{{ task.title }}</h2>
    <hr />
    <br />
    <p>
      {{ task.description }}
    </p>
  </div>

  <div class="task-actions">
    <button (click)="completeTask = !completeTask">
      <fa-icon [icon]="faCircleCheck" class="icon" id="check-icon"></fa-icon>
    </button>

    <button (click)="editTask()">
      <fa-icon [icon]="faPenToSquare" class="icon" id="edit-icon"></fa-icon>
    </button>
    <button (click)="deleteTask()">
      <fa-icon [icon]="faTrashCan" class="icon" id="delete-icon"></fa-icon>
    </button>
  </div>
</div>
