<form [formGroup]="myForm" (ngSubmit)="editTask()" #frmDialog="ngForm">
  <h2 mat-dialog-title>Alterar Tarefa</h2>
  <mat-dialog-content class="mat-typography">
    <div class="input-container">
      <input
        type="text"
        placeholder="Digite o título da sua tarefa"
        formControlName="title"
      />
      <div
        class="validation-error"
        *ngIf="title?.invalid && frmDialog.submitted"
      >
        <p *ngIf="title?.errors?.['required']">O título é obrigatório</p>
        <p *ngIf="title?.errors?.['minlength']">
          O título deve possuir no mínimo 5 caracteres
        </p>
        <p *ngIf="title?.errors?.['maxlength']">
          O título excede o limite de 25 caracteres
        </p>
      </div>
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="Digite a descrição da sua tarefa"
        formControlName="description"
      />

      <div
        class="validation-error"
        *ngIf="description?.invalid && frmDialog.submitted"
      >
        <p *ngIf="description?.errors?.['required']">
          A descrição é obrigatória
        </p>
        <p *ngIf="description?.errors?.['minlength']">
          A descrição deve possuir no mínimo 10 caracteres
        </p>
        <p *ngIf="description?.errors?.['maxlength']">
          A descrição excede o limite de 210 caracteres
        </p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" cdkFocusInitial>EDITAR</button>
    <button mat-dialog-close>CANCELAR</button>
  </mat-dialog-actions>
</form>
